<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Silver & Gold</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <ons-row align="center">
        <ons-col width="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col width="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>WANT TO JOIN?</span></h2>
    <div class="formShadow">
        <img src="images/sgHeading.png" style="width: 100%;" />
        <div style="padding: 20px">
            <ons-row>
                <ons-col width="80px">
                    <img src="images/sgloyalty.png" />
                </ons-col>
                <ons-col>
                    <h4>MAHALA LOYALTY PROGRAMME</h4>
                    <p>You enjoy true and tangible lifestyle benefits, you accumulate points on your membership card and receive up to 30% on-the-spot discount from the Discount Partners (through a virtual voucher system). Feel free to view all our partner offerings on www.mahalas.co.za or simply phone 084 196 3733 for more information.</p>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/vehicle.png" />
                </ons-col>
                <ons-col>
                    <h4>VEHICLE ACCESS BENEFIT</h4>
                    <p>In the event of a life assured's death, the surviving family is provided with an Avis Car Rental for a period of 3 days - unlimited mileage, Category C vehicle (Aircon, Powersteering, Airbags, ABS etc.) This benefit must be used within 6 months after the deceased persons death. (Main Member, Principal Partner and Nominated Children Only) <span style="color: #C82126;">Also included in your additional dependant fee.</span></p>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/airtime.png" />
                </ons-col>
                <ons-col>
                    <h4>AIRTIME BENEFIT</h4>
                    <p>This Benefit provides Cellular airtime to the value of R250 to the surviving family on death of an insured life. (Member, Principal Partner and Nominated Children) <span style="color: #C82126;">Also included in your additional dependant fee.</span></p>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/body.png" />
                </ons-col>
                <ons-col>
                    <h4>BODY REPATRIATION BENEFIT</h4>
                    <p>In the event of a life assured's death greater than 100km from place of burial, Hollard will pay towards the cost of transporting their mortal remains up to R7 500 per incident to a Funeral Home nearest to the place of burial, with a maximum annual limit of R20 000. (Main Member, Principal Partner and Nominated Children) <span style="color: #C82126;">Also included in your additional dependant fee.</span></p>
                </ons-col>
            </ons-row>
        </div>
        <img src="images/sgBooster.png" style="width: 100%;" />
        <div style="padding: 20px">
            <ons-row>
                <ons-col width="80px">
                    <img src="images/advice.png" />
                </ons-col>
                <ons-col>
                    <h4>MEDICAL & LEGAL ADVICE LINE</h4>
                    <p>Medical & Legal Advice Line. Professional legal advisor available to you telephonically 24 hours a day. We can even arrange immediate contact with a reputable practicing lawyer in the event of a crisis. Your membership includes an Initial & FREE half an hour, personal consultation. You also have access to an extensive library of updated legal forms. The medical advice line includes paramedics, nurses and doctors who are available 24 hours a day to provide telephonic medical information and advice. (Member only)</p>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/electricity.png" />
                </ons-col>
                <ons-col>
                    <h4>ELECTROSURE</h4>
                    <p>This Benefit provides prepaid electricity to the value of R250 per month for 3 months to the surviving family.  (Main Member and Principal Partner)</p>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/butchery.png" />
                </ons-col>
                <ons-col>
                    <h4>LOCAL BUTCHERY BENEFIT</h4>
                    <p>In the event of a life assured's death, the beneficiary is provided with a meat-account opened at a local butchery of the beneficiary’s choice with a R3 000 value. Your meat account can be utilized up to 12 months after the incident. (Main Member and Principal Partner)</p>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/uniform.png" />
                </ons-col>
                <ons-col>
                    <h4>SCHOOL UNIFORM BENEFIT</h4>
                    <p>This benefit provides a voucher to the value of R1 500 and will help the children with their basic school uniform needs. (Main Member and Principal Partner)</p>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/veggie.png" />
                </ons-col>
                <ons-col>
                    <h4>VEGGIE BENEFIT</h4>
                    <p>In the event of the covered person's death, the beneficiary is provided with a Checkers voucher to the value R750. To be used at any Checkers nationwide. (Main Member and Principal Partner)</p>
                </ons-col>
            </ons-row>
        </div>
        <img src="images/sgFooter.png" style="width: 100%; padding-bottom: 20px;" />
    </div>
    <ons-list class="dropShadow">
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/enquiery.html', { animation : 'slide' } )">
            ENQUIRE NOW
        </ons-list-item>
    </ons-list>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>